body{
    display: grid;
    grid-template-columns: 17fr 25fr 20fr;
    grid-template-rows: 15vh 50vh;
    background-color: #A9ABA9;
    margin: 0;
}
/* First box */
.rubrikbox{
    background-color: #5ADB40;
    height: 60px;
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 15px;
}
h1{
    text-align: center;
    margin-top: 10px;
}
/* Left box row 2 */
